/* You can add global styles to this file, and also import other style files */

:root .lpx-theme-dark {
  --lpx-logo: url('/assets/meritgrup.png');
  --lpx-logo-icon: url('/assets/meritgrup.png');
}

:root .lpx-theme-light {
  --lpx-logo: url('/assets/meritgrup.png');
  --lpx-logo-icon: url('/assets/meritgrup.png');
}
