<abp-page [title]="'::Vehicles' | abpLocalization">
  <abp-page-toolbar-container class="col">
    <div class="text-lg-end pt-2">
      <button
        class="btn btn-primary btn-sm mx-2"
        type="button"
        [disabled]="isExportToExcelBusy"
        (click)="exportToExcel()"
      >
        {{ '::ExportToExcel' | abpLocalization }}
      </button>

      <button
        *abpPermission="'Vehman2.Vehicles.Create'"
        class="btn btn-primary btn-sm"
        type="button"
        (click)="create()"
      >
        <i class="fa fa-plus me-1" aria-hidden="true"></i>
        {{ '::NewVehicle' | abpLocalization }}
      </button>
    </div>
  </abp-page-toolbar-container>

  <abp-advanced-entity-filters localizationSourceName="" [list]="list">
    <abp-advanced-entity-filters-form>
      <form #filterForm (keyup.enter)="list.get()">
        <div class="row">
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="plateFilter">
                {{ '::Plate' | abpLocalization }}
              </label>

              <input
                id="plateFilter"
                class="form-control"
                [(ngModel)]="filters.plate"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="carModelIdFilter">
                {{ '::CarModel' | abpLocalization }}
              </label>
              <abp-lookup-select
                cid="carModelIdFilter"
                [getFn]="service.getCarModelLookup"
                [(ngModel)]="filters.carModelId"
                [ngModelOptions]="{ standalone: true }"
              ></abp-lookup-select>
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="fuelIdFilter">
                {{ '::Fuel' | abpLocalization }}
              </label>
              <abp-lookup-select
                cid="fuelIdFilter"
                [getFn]="service.getFuelLookup"
                [(ngModel)]="filters.fuelId"
                [ngModelOptions]="{ standalone: true }"
              ></abp-lookup-select>
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="ownerIdFilter">
                {{ '::Owner' | abpLocalization }}
              </label>
              <abp-lookup-select
                cid="ownerIdFilter"
                [getFn]="service.getOwnerLookup"
                [(ngModel)]="filters.ownerId"
                [ngModelOptions]="{ standalone: true }"
              ></abp-lookup-select>
            </div>
          </div>

          <div class="col-12 col-sm-auto align-self-end mb-3">
            <div class="row">
              <div class="col-6 col-sm-auto d-grid">
                <button type="button" class="btn btn-outline-primary" (click)="clearFilters()">
                  <span>{{ 'AbpUi::Clear' | abpLocalization }}</span>
                </button>
              </div>
              <div class="col-6 col-sm-auto d-grid">
                <button type="button" class="btn btn-primary" (click)="list.get()">
                  <span>{{ 'AbpUi::Refresh' | abpLocalization }}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </abp-advanced-entity-filters-form>
  </abp-advanced-entity-filters>

  <div class="card">
    <div class="card-body">
      <ngx-datatable [rows]="data.items" [count]="data.totalCount" [list]="list" default>
        <ngx-datatable-column
          [name]="'AbpUi::Actions' | abpLocalization"
          [maxWidth]="150"
          [width]="150"
          [sortable]="false"
        >
          <ng-template let-row="row" let-i="rowIndex" ngx-datatable-cell-template>
            <div ngbDropdown container="body" class="d-inline-block">
              <button
                class="btn btn-primary btn-sm dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                ngbDropdownToggle
              >
                <i class="fa fa-cog me-1" aria-hidden="true"></i>
                {{ 'AbpUi::Actions' | abpLocalization }}
              </button>

              <div ngbDropdownMenu>
                <button
                  ngbDropdownItem
                  *abpPermission="'Vehman2.Vehicles.Edit'"
                  (click)="update(row)"
                >
                  {{ 'AbpUi::Edit' | abpLocalization }}
                </button>

                <button
                  ngbDropdownItem
                  *abpPermission="'Vehman2.Vehicles.Delete'"
                  (click)="delete(row)"
                >
                  {{ 'AbpUi::Delete' | abpLocalization }}
                </button>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::Plate' | abpLocalization }}" prop="vehicle.plate">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.vehicle.plate }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ '::CarModel' | abpLocalization }}" prop="carModel.name">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.carModel?.name }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ '::Fuel' | abpLocalization }}" prop="fuel.name">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.fuel?.name }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ '::Owner' | abpLocalization }}" prop="owner.name">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.owner?.name }}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</abp-page>

<abp-modal [busy]="isModalBusy" [(visible)]="isModalOpen">
  <ng-template #abpHeader>
    <h3>
      {{ (selected ? 'AbpUi::Edit' : '::NewVehicle') | abpLocalization }}
    </h3>
  </ng-template>

  <ng-template #abpBody>
    <form [formGroup]="form" id="vehicle" (ngSubmit)="submitForm()" validateOnSubmit>
      <div class="mt-2 fade-in-top">
        <div class="mb-3">
          <label class="form-label" for="vehicle-plate">
            {{ '::Plate' | abpLocalization }} *
          </label>

          <textarea id="vehicle-plate" formControlName="plate" class="form-control" autofocus>
          </textarea>
        </div>
        <div class="mb-3">
          <label class="form-label" for="vehicle-car-model-id">
            {{ '::CarModel' | abpLocalization }} *
          </label>

          <abp-lookup-select
            cid="vehicle-car-model-id"
            formControlName="carModelId"
            [getFn]="service.getCarModelLookup"
          ></abp-lookup-select>
        </div>
        <div class="mb-3">
          <label class="form-label" for="vehicle-fuel-id">
            {{ '::Fuel' | abpLocalization }} *
          </label>

          <abp-lookup-select
            cid="vehicle-fuel-id"
            formControlName="fuelId"
            [getFn]="service.getFuelLookup"
          ></abp-lookup-select>
        </div>
        <div class="mb-3">
          <label class="form-label" for="vehicle-owner-id">
            {{ '::Owner' | abpLocalization }} *
          </label>

          <abp-lookup-select
            cid="vehicle-owner-id"
            formControlName="ownerId"
            [getFn]="service.getOwnerLookup"
          ></abp-lookup-select>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ 'AbpUi::Cancel' | abpLocalization }}
    </button>

    <abp-button iconClass="fa fa-check" buttonType="submit" formName="vehicle">
      {{ 'AbpUi::Save' | abpLocalization }}
    </abp-button>
  </ng-template>
</abp-modal>
