<abp-page [title]="'::Menu:Home' | abpLocalization">
  <div class="card">
    <div class="card-header lead">{{ '::Welcome' | abpLocalization }}</div>
    <div class="card-body">
      <img src="./assets/meritgrup.png" alt="Merit Grup Logo" class="mb-4">
      <p class="lead">
        Merit yakit takip uygulamasına hoş geldiniz.
      </p>
      <p *ngIf="!hasLoggedIn">
        <a (click)="login()" class="btn btn-primary" role="button"
          ><i class="fa fa-sign-in me-1" aria-hidden="true"></i>{{ 'AbpAccount::Login' | abpLocalization }}</a
        >
      </p>
    </div>
  </div>
  <div *ngIf="hasLoggedIn" class="card mt-5">
    <div class="card-body">
      <p class="lead">Kolayca araçları düzenle, yakıt alımlarını takip et, rapor bilgi edin.</p>
      <a routerLink="/vehicles" class="btn btn-primary mr-2 mx-2">Araçları göster</a>
      <a routerLink="/transactions" class="btn btn-secondary">Alımları yönet</a>
    </div>
  </div>
</abp-page>
